# QDL specific
--index-url https://gitlab.com/api/v4/projects/66914457/packages/pypi/simple

qdl-sdk
qdl-cli
qdl-daemon
qdl-sync-service
qdl-qmi-plugin

# UI
textual

# Data structure
quantify-core
qcodes<=0.40.0

# Build tools
pyinstaller